<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>これ食べたい！for 楽天人気レシピ</title>
      <!-- https://bbbootstrap.com/snippets/lightbox-gallery-38774499-->
      <!-- Bootstrapを参照 -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">

      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

      <!-- cssファイルを参照 -->
      <link rel="stylesheet" href="style.css">

      <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
        }
  
        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }

        img {
          display: block;
          margin: 0 auto;
          width: 300px;
          height: 300px;
          object-fit: cover;
        }
      

      </style>


    </head>

   <body>

    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About</h4>
              <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Contact</h4>
              <ul class="list-unstyled">
                <li><a href="#" class="text-white">Follow on Twitter</a></li>
                <li><a href="#" class="text-white">Like on Facebook</a></li>
                <li><a href="#" class="text-white">Email me</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
            <strong>画像レシピSearch</strong>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>
    

    <main>

      <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">画像でレシピSearch</h1>
            <p class="lead text-muted">ファイルを選択して送信してください</p>
              <form action = "./" method = "POST" 
                 enctype = "multipart/form-data" >
                 <input class="btn btn-warning"  type = "file" name = "file" />
                 <input class="btn btn-warning" type = "submit"/>
              </form>
          </div>
        </div>
      </section>

      {% if no1_foodImageUrl %}
         <img src="{{input_img_b64data}} " border="1"> <br>
        <br>
        <br>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

        <div class="album py-5 bg-light">
          <div class="container">
       
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
         <div class="col">
           <div class="card h-100">
             <img src="{{no1_foodImageUrl}}" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">{{no1_recipeTitle}} </h5>
               <p class="card-text"> </p>
               <a href={{no1_recipeUrl}} class="btn btn-outline-dark">View Recipe</a> 
            </div>
           </div>
         </div>

         <div class="col">
            <div class="card h-100">
              <img src="{{no2_foodImageUrl}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{no2_recipeTitle}} </h5>
                <p class="card-text"> </p>
                <a href={{no2_recipeUrl}} class="btn btn-outline-dark">View Recipe</a> 
             </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <img src="{{no3_foodImageUrl}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{no3_recipeTitle}} </h5>
                <p class="card-text"> </p>
                <a href={{no3_recipeUrl}} class="btn btn-outline-dark">View Recipe</a> 
             </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <img src="{{no4_foodImageUrl}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{no4_recipeTitle}} </h5>
                <p class="card-text"> </p>
                <a href={{no4_recipeUrl}} class="btn btn-outline-dark">View Recipe</a> 
             </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <img src="{{no5_foodImageUrl}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{no5_recipeTitle}} </h5>
                <p class="card-text"> </p>
                <a href={{no5_recipeUrl}} class="btn btn-outline-dark">View Recipe</a> 
             </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <img src="{{no6_foodImageUrl}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{no6_recipeTitle}} </h5>
                <p class="card-text"> </p>
                <a href={{no6_recipeUrl}} class="btn btn-outline-dark">View Recipe</a> 
             </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <img src="{{no7_foodImageUrl}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{no7_recipeTitle}} </h5>
                <p class="card-text"> </p>
                <a href={{no7_recipeUrl}} class="btn btn-outline-dark">View Recipe</a> 
             </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <img src="{{no8_foodImageUrl}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{no8_recipeTitle}} </h5>
                <p class="card-text"> </p>
                <a href={{no8_recipeUrl}} class="btn btn-outline-dark">View Recipe</a> 
             </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <img src="{{no9_foodImageUrl}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{no9_recipeTitle}} </h5>
                <p class="card-text"> </p>
                <a href={{no9_recipeUrl}} class="btn btn-outline-dark">View Recipe</a> 
             </div>
            </div>
          </div>

       </div>


 


    </div>
  </div>



         <hr>
      {% endif %}
        </main>

        <footer class="text-muted py-5">
          <div class="container">
            <p class="float-end mb-1">
              <a href="#">Back to top</a>
            </p>
            <p class="mb-1">Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
            <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="../getting-started/introduction/">getting started guide</a>.</p>
          </div>
        </footer>


   </body>
</html>